.studentDetailsMain{
color: #013832;
margin-left: 5%;
}
.studentDetails{
    background-color: #B0BB9B;
    color: #013832;
    font-size: 20px;
    margin: 30px 0px 0px 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 460px;
    height: 68px;
    border-radius: 30px;
}
.userInfo{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3%;
}
.details{
    display: flex;
    justify-content: space-around;
}

.detailTable {
    color: #013832;
    background-color:#013832;
    font-size: 14px;
    display: flex;
    margin-top: 3%;
    margin-left: 30px;
    overflow: scroll;
    width: 1000px;
    max-height: 350px;
        tr {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            border-bottom:#013832 1px solid;
            padding-top: 5px;
        }
        // tr:first-child th{
        //   background-color:#387B5C;
        //   // width: 100%;
        // }
        tr:nth-child(odd){
            background-color:#B0BB9B;
        }
        tr:nth-child(even){
            background-color:#DEDFDA;
        }
        span{
            border:#013832 1px inset;
            display: flex;
            flex-direction: row;
        }
        th {
            margin-right: 15px;
            margin-left: 15px;
            display: flex;
            
        }
        td{
            display: flex;
            justify-content: center;
            flex-direction: row;
            font-size: 12px;
            display:flex;
            flex-direction: column;
            align-items: center;
            width: 200px;
            height: 35px;
            }
            td:nth-child(2){
                padding-top: 8px;
                font-size: 10px;
            }
}
.detailDescription {
    overflow-y: scroll;
    overflow-wrap: break-word;
    overscroll-behavior: contain;
    // padding-top: 20px;
}
.buttonsOfPower{
    display: flex;
    flex-direction: row;

}
h2{
    margin-left: -2%;
    margin-bottom: 2px;
}
.detailsList{
    display: flex;
    margin-right: 2%;
    font-weight: 500;
}
.action{
    background-color: #C56A19;
    color: #ffffff;
    font-size: 16px;
    padding: 20px 20px;
    border-radius: 35px;
    border: none;
    margin-top: 25px;
    margin-bottom: 25px;
    height: 80px;
    display: flex;
    justify-content: center;
    margin-right: 3%;
  }
  .action-button:hover {
    color:#C56A19;
    background-color:#013832;
    box-shadow: 0 5px 15px #013832;
    transition: all 0.3s ease-in-out;
  }

  .removeAlert{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 6%;
    padding-top: 5%;
    margin-left: 4%;
    width: 1000px;
    
    h1{
        display: flex;
        justify-content: center; 
    }
    h2{
        display: flex;
        justify-content: center;
    }
    
  }
.removeStudentBG{
    margin-left: -2%;
    background-color: #B0BB9B;
    width: 1070px;
    height: 500px;
  border-radius: 30px;

}
.removeStudent{
    display: flex;
    justify-content: center;
}
.updateStudent{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    height: 400px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 50%;
    margin-top: 25%;
    background-color: #B0BB9B;
  border-radius: 30px;

}
.updateButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.inputGroup{
    display: flex;
    justify-content: space-between;
}
.inputUpdateStudent{
    border-radius: 30px;
}
.adminAddButton{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.adminRemoveCourse{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
// .removeStudentBG{
//     display: flex;
//     justify-content: center;
//     width: 500px;
//     height: 400px;
// }
.studentDetailViewButton{
    font-size: 11px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
